@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#background{
  background: linear-gradient(45deg, #ffd303, transparent);
}
#card{
  background: #0000001c;
  border: #0000001c;
}
#contact{
  background: #0000001c;
  border: #0000001c;
}